<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/background.css">
    <link rel="stylesheet" href="../CSS/delte.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Delete</title>
    <img src="../shopware_trans.png" alt="Workplace" usemap="#workmap" width="200" height="40">
    <map name="workmap">
        <area shape="rect" coords="0,0,200,40" href="/home">
    </map>
</head>
<body>
    <form>
        <div class="mid">
            <h3>Eintrag wurde gelöscht!</h3>
            <button formaction="/home/view">Ok</button>
        </div>     
    </form>
</body>
</html>



