<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../CSS/background.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Hautpmenü</title>
</head>
<body>
    <form>
        <img src="shopware_trans.png" alt="Workplace" usemap="#workmap" width="200" height="40">
            
        <map name="workmap">
            <area shape="rect" coords="0,0,200,40" href="/home">
        </map>
            
        <center>
            <font color="#189eff"><h1>Shopware Gästebuch!</h1></font> 
            <button formaction="/home/add">Neuer Eintrag</button>
            <button formaction="/home/view">Alles Einträge anzeigen</button>
            <button formaction="/test">Test Seite</button><br>
            <button formaction="/home/Clan">Clans</button><br>
            <marquee width="300" height="55"><a href="https://www.shopware.com/" target="_blank"><img src="shopware_trans.png" width="200" height="50"/></a></marquee>
        </center>
    </form>
</body>
</html>
